onlineBelly-war/web/WEB-INF/wsdl/localhost_8080/soap/soap.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ejb.belly/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ejb.belly/" name="soap">
<wsp:Policy wsu:Id="soapPortBindingPolicy"/>
<types>
<xsd:schema>
<xsd:import namespace="http://ejb.belly/" schemaLocation="http://localhost:8080/soap/soap?xsd=1"/>
</xsd:schema>
</types>
<message name="persist">
<part name="parameters" element="tns:persist"/>
</message>
<message name="getOverview">
<part name="parameters" element="tns:getOverview"/>
</message>
<message name="getOverviewResponse">
<part name="parameters" element="tns:getOverviewResponse"/>
</message>
<message name="getCourseNr">
<part name="parameters" element="tns:getCourseNr"/>
</message>
<message name="getCourseNrResponse">
<part name="parameters" element="tns:getCourseNrResponse"/>
</message>
<portType name="soap">
<operation name="persist">
<input wsam:Action="http://ejb.belly/soap/persist" message="tns:persist"/>
</operation>
<operation name="getOverview">
<input wsam:Action="http://ejb.belly/soap/getOverviewRequest" message="tns:getOverview"/>
<output wsam:Action="http://ejb.belly/soap/getOverviewResponse" message="tns:getOverviewResponse"/>
</operation>
<operation name="getCourseNr">
<input wsam:Action="http://ejb.belly/soap/getCourseNrRequest" message="tns:getCourseNr"/>
<output wsam:Action="http://ejb.belly/soap/getCourseNrResponse" message="tns:getCourseNrResponse"/>
</operation>
</portType>
<binding name="soapPortBinding" type="tns:soap">
<wsp:PolicyReference URI="#soapPortBindingPolicy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="persist">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getOverview">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCourseNr">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="soap">
<port name="soapPort" binding="tns:soapPortBinding">
<soap:address location="http://localhost:8080/soap/soap"/>
</port>
</service>
</definitions>