onlineBelly-war/web/WEB-INF/wsdl/localhost_8080/CredentialService/CredentialService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.belly/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.belly/" name="CredentialService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.belly/" schemaLocation="http://localhost:8080/CredentialService/CredentialService?xsd=1"/>
</xsd:schema>
</types>
<message name="persist">
<part name="parameters" element="tns:persist"/>
</message>
<message name="registerCustomer">
<part name="parameters" element="tns:registerCustomer"/>
</message>
<message name="registerCustomerResponse">
<part name="parameters" element="tns:registerCustomerResponse"/>
</message>
<message name="NotUniqueCredentialsException">
<part name="fault" element="tns:NotUniqueCredentialsException"/>
</message>
<message name="loginCustomer">
<part name="parameters" element="tns:loginCustomer"/>
</message>
<message name="loginCustomerResponse">
<part name="parameters" element="tns:loginCustomerResponse"/>
</message>
<message name="InvalidCredentialsException">
<part name="fault" element="tns:InvalidCredentialsException"/>
</message>
<portType name="CredentialService">
<operation name="persist">
<input wsam:Action="http://service.belly/CredentialService/persist" message="tns:persist"/>
</operation>
<operation name="registerCustomer">
<input wsam:Action="http://service.belly/CredentialService/registerCustomerRequest" message="tns:registerCustomer"/>
<output wsam:Action="http://service.belly/CredentialService/registerCustomerResponse" message="tns:registerCustomerResponse"/>
<fault message="tns:NotUniqueCredentialsException" name="NotUniqueCredentialsException" wsam:Action="http://service.belly/CredentialService/registerCustomer/Fault/NotUniqueCredentialsException"/>
</operation>
<operation name="loginCustomer">
<input wsam:Action="http://service.belly/CredentialService/loginCustomerRequest" message="tns:loginCustomer"/>
<output wsam:Action="http://service.belly/CredentialService/loginCustomerResponse" message="tns:loginCustomerResponse"/>
<fault message="tns:InvalidCredentialsException" name="InvalidCredentialsException" wsam:Action="http://service.belly/CredentialService/loginCustomer/Fault/InvalidCredentialsException"/>
</operation>
</portType>
<binding name="CredentialServicePortBinding" type="tns:CredentialService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="persist">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="registerCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NotUniqueCredentialsException">
<soap:fault name="NotUniqueCredentialsException" use="literal"/>
</fault>
</operation>
<operation name="loginCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidCredentialsException">
<soap:fault name="InvalidCredentialsException" use="literal"/>
</fault>
</operation>
</binding>
<service name="CredentialService">
<port name="CredentialServicePort" binding="tns:CredentialServicePortBinding">
<soap:address location="http://localhost:8080/CredentialService/CredentialService"/>
</port>
</service>
</definitions>