onlineBelly-war/web/WEB-INF/wsdl/localhost_8080/ValidateWebService/ValidateWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ejb.belly/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ejb.belly/" name="ValidateWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ejb.belly/" schemaLocation="http://localhost:8080/ValidateWebService/ValidateWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="loginCustomer">
<part name="parameters" element="tns:loginCustomer"/>
</message>
<message name="loginCustomerResponse">
<part name="parameters" element="tns:loginCustomerResponse"/>
</message>
<message name="InvalidCredentialsException">
<part name="fault" element="tns:InvalidCredentialsException"/>
</message>
<message name="registerCustomer">
<part name="parameters" element="tns:registerCustomer"/>
</message>
<message name="registerCustomerResponse">
<part name="parameters" element="tns:registerCustomerResponse"/>
</message>
<message name="NotUniqueCredentialsException">
<part name="fault" element="tns:NotUniqueCredentialsException"/>
</message>
<message name="getLatestOrder">
<part name="parameters" element="tns:getLatestOrder"/>
</message>
<message name="getLatestOrderResponse">
<part name="parameters" element="tns:getLatestOrderResponse"/>
</message>
<message name="persist">
<part name="parameters" element="tns:persist"/>
</message>
<message name="validateCredentials">
<part name="parameters" element="tns:validateCredentials"/>
</message>
<message name="validateCredentialsResponse">
<part name="parameters" element="tns:validateCredentialsResponse"/>
</message>
<portType name="ValidateWebService">
<operation name="loginCustomer">
<input wsam:Action="http://ejb.belly/ValidateWebService/loginCustomerRequest" message="tns:loginCustomer"/>
<output wsam:Action="http://ejb.belly/ValidateWebService/loginCustomerResponse" message="tns:loginCustomerResponse"/>
<fault message="tns:InvalidCredentialsException" name="InvalidCredentialsException" wsam:Action="http://ejb.belly/ValidateWebService/loginCustomer/Fault/InvalidCredentialsException"/>
</operation>
<operation name="registerCustomer">
<input wsam:Action="http://ejb.belly/ValidateWebService/registerCustomerRequest" message="tns:registerCustomer"/>
<output wsam:Action="http://ejb.belly/ValidateWebService/registerCustomerResponse" message="tns:registerCustomerResponse"/>
<fault message="tns:NotUniqueCredentialsException" name="NotUniqueCredentialsException" wsam:Action="http://ejb.belly/ValidateWebService/registerCustomer/Fault/NotUniqueCredentialsException"/>
</operation>
<operation name="getLatestOrder">
<input wsam:Action="http://ejb.belly/ValidateWebService/getLatestOrderRequest" message="tns:getLatestOrder"/>
<output wsam:Action="http://ejb.belly/ValidateWebService/getLatestOrderResponse" message="tns:getLatestOrderResponse"/>
</operation>
<operation name="persist">
<input wsam:Action="http://ejb.belly/ValidateWebService/persist" message="tns:persist"/>
</operation>
<operation name="validateCredentials">
<input wsam:Action="http://ejb.belly/ValidateWebService/validateCredentialsRequest" message="tns:validateCredentials"/>
<output wsam:Action="http://ejb.belly/ValidateWebService/validateCredentialsResponse" message="tns:validateCredentialsResponse"/>
<fault message="tns:InvalidCredentialsException" name="InvalidCredentialsException" wsam:Action="http://ejb.belly/ValidateWebService/validateCredentials/Fault/InvalidCredentialsException"/>
</operation>
</portType>
<binding name="ValidateWebServicePortBinding" type="tns:ValidateWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="loginCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidCredentialsException">
<soap:fault name="InvalidCredentialsException" use="literal"/>
</fault>
</operation>
<operation name="registerCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NotUniqueCredentialsException">
<soap:fault name="NotUniqueCredentialsException" use="literal"/>
</fault>
</operation>
<operation name="getLatestOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="persist">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="validateCredentials">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidCredentialsException">
<soap:fault name="InvalidCredentialsException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ValidateWebService">
<port name="ValidateWebServicePort" binding="tns:ValidateWebServicePortBinding">
<soap:address location="http://localhost:8080/ValidateWebService/ValidateWebService"/>
</port>
</service>
</definitions>