onlineBelly-war/web/WEB-INF/wsdl/localhost_8080/ValidateWebService/ValidateWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://ejb.belly/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ejb.belly/">

<xs:element name="InvalidCredentialsException" type="tns:InvalidCredentialsException"/>

<xs:element name="NotUniqueCredentialsException" type="tns:NotUniqueCredentialsException"/>

<xs:element name="foodOrder" type="tns:foodOrder"/>

<xs:element name="getLatestOrder" type="tns:getLatestOrder"/>

<xs:element name="getLatestOrderResponse" type="tns:getLatestOrderResponse"/>

<xs:element name="loginCustomer" type="tns:loginCustomer"/>

<xs:element name="loginCustomerResponse" type="tns:loginCustomerResponse"/>

<xs:element name="persist" type="tns:persist"/>

<xs:element name="person" type="tns:person"/>

<xs:element name="registerCustomer" type="tns:registerCustomer"/>

<xs:element name="registerCustomerResponse" type="tns:registerCustomerResponse"/>

<xs:element name="validateCredentials" type="tns:validateCredentials"/>

<xs:element name="validateCredentialsResponse" type="tns:validateCredentialsResponse"/>

<xs:complexType name="registerCustomer">
<xs:sequence>
<xs:element name="loginName" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="personName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registerCustomerResponse">
<xs:sequence>
<xs:element name="return" type="tns:customerSessionBean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="customerSessionBean">
<xs:sequence>
<xs:element name="customer" type="tns:person" minOccurs="0"/>
<xs:element name="order" type="tns:foodOrder" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="person">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="login" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="foodOrder">
<xs:sequence>
<xs:element name="complete" type="xs:short"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="ordertime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="personID" type="tns:person" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="NotUniqueCredentialsException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="persist">
<xs:sequence>
<xs:element name="object" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLatestOrder">
<xs:sequence>
<xs:element name="customer" type="tns:person" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLatestOrderResponse">
<xs:sequence>
<xs:element name="return" type="tns:foodOrder" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginCustomer">
<xs:sequence>
<xs:element name="loginName" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginCustomerResponse">
<xs:sequence>
<xs:element name="return" type="tns:customerSessionBean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InvalidCredentialsException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validateCredentials">
<xs:sequence>
<xs:element name="loginName" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validateCredentialsResponse">
<xs:sequence>
<xs:element name="return" type="tns:person" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>