onlineBelly-war/web/WEB-INF/wsdl/localhost_8080/TimeIndicate/TimeIndicate.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservice/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice/">

<xs:element name="generateTime" type="tns:generateTime"/>

<xs:element name="generateTimeResponse" type="tns:generateTimeResponse"/>

<xs:element name="showTime" type="tns:showTime"/>

<xs:element name="showTimeResponse" type="tns:showTimeResponse"/>

<xs:complexType name="showTime">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="showTimeResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="generateTime">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="generateTimeResponse">
<xs:sequence>
<xs:element name="return" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>