onlineBelly-war/src/conf/xml-resources/web-service-references/TimeIndicateInterfaceImpl/wsdl/localhost_8080/TimeIndicate1/TimeIndicateInterfaceImpl.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://interfaces.belly/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://interfaces.belly/">

<xs:element name="generateTime1" type="tns:generateTime1"/>

<xs:element name="generateTime1Response" type="tns:generateTime1Response"/>

<xs:element name="showTime1" type="tns:showTime1"/>

<xs:element name="showTime1Response" type="tns:showTime1Response"/>

<xs:complexType name="showTime1">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="showTime1Response">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="generateTime1">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="generateTime1Response">
<xs:sequence>
<xs:element name="return" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>