onlineBelly-war/src/conf/xml-resources/web-service-references/SoapWS/wsdl/localhost_8080/SoapWS/SoapWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://ejb.belly/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ejb.belly/">

<xs:element name="course" type="tns:course"/>

<xs:element name="getOverview" type="tns:getOverview"/>

<xs:element name="getOverviewResponse" type="tns:getOverviewResponse"/>

<xs:element name="persist" type="tns:persist"/>

<xs:complexType name="getOverview">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getOverviewResponse">
<xs:sequence>
<xs:element name="return" type="tns:course" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="course">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="picture" type="xs:string" minOccurs="0"/>
<xs:element name="preptime" type="xs:int"/>
<xs:element name="price" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="persist">
<xs:sequence>
<xs:element name="object" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>